html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    min-width: 1100px;
    font-family: Verdana;
    height:100% !important
}

.clear {
    clear: both;
}

ul {
    list-style: none outside none;
}

a {
    text-decoration: none;
}

img {
    border: medium none;
}

.clear {
    clear: both;
}

textarea {
    background-color: #f2f2f2 !important;
    padding: 10px;
    width: 50%;
    height: 100px;
}

input[type="file"] {
    color: #808080;
    font-family: Verdana;
}

select {
    color: #808080;
    font-family: Verdana;
    font-size: 16px;
    text-transform: uppercase;
    width: 350px;
}

.container {
    background-color: white;
    height: 100%;
    margin: auto;
    min-height: 661px;
    width: 100%;
    position: relative;
    /* background-image:url(../images/bodyBackground.png);*/
}

    .container .topContainer {
        /*background: url("../images/backgrounds/topLevel-black.png") repeat scroll 0 0 transparent;*/
        background-color: transparent;
        height: 66px;
        width: 100%;
        z-index: 1;
        position: relative;
    }

        .container .topContainer .webSiteName {
            color: #FFFFFF;
            height: 46px;
            padding: 20px 0 0 20px;
        }

    .container .leftContainer {
        background-color: #d37137;
        height: 100%;
        position: fixed;
        top: 0;
        width: 21%;
    }

        .container .leftContainer ul {
            margin: 0;
            padding: 0;
        }

            .container .leftContainer ul li.webSiteName {
                height: 46px;
                padding: 20px 0 0 20px;
            }

            .container .leftContainer ul li.liMenu {
                /*background-color: #58595B;*/
                border-top: 1px solid #ffffff;
                cursor: pointer;
                height: 45px;
                margin-left: auto;
                margin-right: auto;
                padding: 25px 0 0;
                text-align: center;
                width: 75%;
                opacity: 0.5;
            }

                .container .leftContainer ul li.liMenu:first-child, .container .leftContainer ul li.liMenu:last-child {
                    border-top: 1px solid #ffffff;
                    border-bottom: 1px solid #ffffff;
                }

            .container .leftContainer ul li.selectedMenu {
                /* background-image: url("../images/backgrounds/selected-blue2.png");*/
                opacity: 1;
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
                cursor: pointer;
                height: 45px;
                margin-left: auto;
                margin-right: auto;
                padding: 25px 0 0;
                text-align: center;
                width: 75%;
            }

            .container .leftContainer ul li a {
                height: 35px;
                width: 174px;
            }

            .container .leftContainer ul li label {
                color: #FFFFFF;
                cursor: pointer;
                font-family: Verdana;
                font-size: 15px;
                font-weight: bold;
                height: 35px;
                width: 174px;
            }

            .container .leftContainer ul li.liMenu img {
                position: relative;
            }

            .container .leftContainer ul li.loadinglb {
                background-color: #d37137;
                /*border-top: 1px solid white;*/
                height: 253px;
                padding: 70px 0 0 25px;
                position: relative !important;
            }

    .container .border {
        background: url("../images/backgrounds/border-vertical.png") repeat scroll 0 0 transparent;
        float: left;
        height: 600px;
        position: relative;
        top: -67px;
        width: 1px;
    }

    .container .footer {
        background-image: url("../images/backgrounds/bottomlevel-black.png");
        border-top: 1px solid #00A7E6;
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 12px;
        height: 34px;
        position: relative;
        width: 100%;
    }

        .container .footer label {
            float: right;
            left: -20px;
            position: relative;
            top: 10px;
        }

    .container .loginContainer {
        color: #FFFFFF;
        height: 145px;
        margin: auto;
        padding: 0;
        position: relative;
        top: 160px;
        width: 500px;
    }

        .container .loginContainer label.websiteName {
            font-family: Verdana;
            font-size: 24px;
            /* left: 11px;*/
            position: relative;
            color: #808080;
        }

        .container .loginContainer ul {
            float: left;
            height: 150px;
            margin: 10px 0 0;
            padding: 0;
            width: 100%;
        }

            .container .loginContainer ul ul {
                clear: both;
                height: auto;
                margin: 0 0 5px;
                overflow: hidden;
                padding: 0;
            }

        .container .loginContainer li.left {
            float: left;
            font: 16px Arial;
            height: inherit;
            text-align: left;
            width: 100%;
            color: #808080;
            margin-bottom: 7px;
        }

        .container .loginContainer li.right {
            float: left;
            width: 100%;
        }

            .container .loginContainer li.right input {
                border: 0 none;
                float: left;
                height: 40px;
                margin: 0;
                text-indent: 10px;
                padding: 0;
                color: #808080;
                width: 100%;
            }

            .container .loginContainer li.right span {
                color: #FFFFFF;
            }

        .container .loginContainer input[type="image"] {
            float: left;
            margin-top: 10px;
        }

        .container .loginContainer label.result {
            font-size: 12px;
        }

    .container .home {
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 150px;
        width: 209px;
    }

    .container .contentContainer {
        height: auto;
        min-height: 300px;
        width: inherit;
    }

        .container .contentContainer ul.header {
            background-color: #747373;
            height: 32px;
            margin: 0;
            padding: 0 0 0 25px;
        }

            .container .contentContainer ul.header li {
                float: left;
                height: 33px;
                letter-spacing: 2px;
                text-align: center;
            }

                .container .contentContainer ul.header li label {
                    color: #FFFFFF;
                    font-size: 10px;
                    font-weight: bold;
                }

        .container .contentContainer ul.contentList {
            height: 32px;
            margin: 0;
            padding: 0;
        }

            .container .contentContainer ul.contentList li.contentListWhite {
                background-color: #FFFFFF;
                float: left;
                height: 33px;
                width: 946px;
            }

                .container .contentContainer ul.contentList li.contentListWhite ul {
                    padding: 0;
                }

            .container .contentContainer ul.contentList li.contentListGray {
                background-color: #D5EFF8;
                float: left;
                height: 33px;
                width: 946px;
            }

                .container .contentContainer ul.contentList li.contentListGray ul {
                    padding: 0;
                }

            .container .contentContainer ul.contentList li li {
                float: left;
                text-align: center;
            }

                .container .contentContainer ul.contentList li li label {
                    color: #747373;
                    font-size: 10px;
                    letter-spacing: 1px;
                }

    .container .musicalSchool {
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 16px;
        font-weight: bold;
        left: 50px;
        position: relative;
        width: 400px;
    }

        .container .musicalSchool ul {
            list-style-type: disc;
        }

        .container .musicalSchool li {
            font-family: Verdana;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }

            .container .musicalSchool li a {
                color: #FFFFFF;
                font-family: Verdana;
                font-size: 16px;
                font-weight: bold;
            }

    .container .toolbar {
        left: 0;
        margin-left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

        .container .toolbar label, .container .toolbar .label {
            color: #ffffff;
            font-family: Verdana;
            font-size: 16px;
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 21px;
            width: 21%;
            visibility: hidden;
        }

        .container .toolbar .buttons {
            margin-left: 21%;
            position: relative;
            text-align: right;
            top: 14px;
            width: 79%;
        }

            .container .toolbar .buttons input.button, .buttonSave {
                background-color: transparent;
                /*background-image: url("../images/buttons/button.png");*/
                background-color: #d37137;
                border: 0 none;
                color: #FFFFFF;
                cursor: pointer;
                font-family: Verdana;
                font-size: 16px;
                height: 34px;
                width: 134px;
                margin-right: 40px;
            }

.buttons input#back {
    background-color: #009FE3;
}

.descriptionContainer {
    float: left;
    height: auto;
    min-height: 400px;
    padding-top: 20px;
    position: relative;
    top: -51px;
    width: 820px;
}

    .descriptionContainer .left {
        color: #FFFFFF;
        float: left;
        font-family: Verdana;
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        text-align: right;
        width: 210px;
    }

    .descriptionContainer .right {
        float: left;
        width: 550px;
    }

        .descriptionContainer .right input[type="text"] {
            height: 34px;
            width: 440px;
        }

        .descriptionContainer .right input[type="file"] {
            float: left;
        }

        .descriptionContainer .right .musicFile {
            top: -9px !important;
        }

.albumContainer {
    position: relative;
    top: -69px;
}

    .albumContainer ul {
        width: 780px;
    }

        .albumContainer ul li {
            float: left;
            margin-bottom: 10px;
            margin-right: 20px;
            width: 134px;
        }

            .albumContainer ul li a {
                height: 209px;
                width: inherit;
            }

            .albumContainer ul li img {
                height: 134px;
                width: 134px;
            }

            .albumContainer ul li div.imgName {
                clear: left;
                color: #FFFFFF;
                font-family: Verdana;
                font-size: 12px;
                height: 15px;
                overflow: hidden;
                text-align: center;
                width: 134px;
            }

            .albumContainer ul li label {
                color: #FFFFFF;
                font-family: Verdana;
                font-size: 12px;
            }

.uploadImage {
    float: left;
    height: auto;
    min-height: 400px;
    padding: 40px;
    position: relative;
    top: -51px;
    width: 740px !important;
}

    .uploadImage .imgPreview {
        float: left;
        height: 130px;
        margin-right: 10px;
        width: 130px;
    }

    .uploadImage .uleft {
        color: #FFFFFF;
        float: left;
        font-family: Verdana;
        font-size: 12px;
        margin-right: 10px;
        width: 34px;
    }

    .uploadImage .uright {
        float: left;
    }

        .uploadImage .uright input {
            height: 34px;
            margin-bottom: 10px;
            width: 235px;
        }

.newsList {
    float: left;
    position: relative;
    top: -69px;
    width: 820px;
}

    .newsList ul {
        margin: 0;
        padding: 0;
        width: inherit;
    }

        .newsList ul li {
            float: left;
            height: 140px;
            padding-left: 40px;
            padding-top: 20px;
            width: 780px;
        }

            .newsList ul li label {
                color: #FFFFFF;
                float: left;
                font-family: Verdana;
                font-size: 16px;
                font-weight: bold;
                height: 115px;
                overflow: hidden;
                width: 350px;
            }

            .newsList ul li img.img {
                float: left;
                height: 85px;
                margin-right: 5px;
                margin-top: 10px;
                width: 340px;
            }

            .newsList ul li .edit {
                background-image: url("../images/buttons/edit.png");
                border: 0 none;
                cursor: pointer;
                height: 47px;
                width: 133px;
            }

            .newsList ul li .delete {
                background-image: url("../images/buttons/delete.png");
                border: 0 none;
                cursor: pointer;
                height: 47px;
                width: 133px;
            }

.news {
}

    .news img {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }

    .news label {
        color: #FFFFFF;
        float: left;
        font-family: Verdana;
        font-size: 12px;
        margin-top: 10px;
        width: 200px;
    }

    .news input[type="file"] {
        background-image: url("../images/buttons/browse.png");
        float: left;
        margin-top: 10px;
        width: 90px;
    }

.newAdLeft {
    float: left;
    width: 453px;
}

    .newAdLeft div {
        color: #FFFFFF;
        float: left;
        font-family: Verdana;
        font-size: 16px;
        margin-right: 10px;
        text-align: right;
        width: 180px;
    }

    .newAdLeft input {
        float: left;
        height: 34px;
        margin-bottom: 10px;
        width: 235px;
    }

    .newAdLeft textarea {
        width: 235px;
    }

.newAdRight {
    float: left;
    width: 340px;
}

    .newAdRight .imgAds {
        margin-bottom: 10px;
    }

    .newAdRight label {
        color: #FFFFFF;
        font-family: Verdana;
        font-size: 12px;
    }

.centerContainer .header {
    background-color: #747373;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 10px;
    height: 22px;
    margin: 0;
    padding: 10px 0 0 25px;
}

.centerContainer .editContentContainer {
    background-color: #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
    min-height: 516px;
    overflow: auto;
    padding: 30px;
    width: 886px;
}

    .centerContainer .editContentContainer ul {
        margin: 0;
        padding-left: 30px;
    }

        .centerContainer .editContentContainer ul ul {
            height: 48px;
            margin-bottom: 15px;
            padding: 0;
            width: inherit;
        }

    .centerContainer .editContentContainer li.left {
        background-color: #BABCBE;
        color: #FFFFFF;
        float: left;
        font: 10px Arial;
        height: 30px;
        padding-top: 18px;
        text-align: center;
        width: 127px;
    }

    .centerContainer .editContentContainer li.right {
        float: left;
        height: 48px;
        width: 350px;
    }

        .centerContainer .editContentContainer li.right input {
            height: 42px;
            width: inherit;
        }

.ajax__htmleditor_editor_container {
    height: 243px !important;
}

.ui-dialog-content {
    color: #CC0000;
    font-size: 12px;
}

.ui-dialog-title {
    font-size: 11px;
}

.AjaxUploaderProgressInfoText {
    width: 350px !important;
}

.centerContainer .header {
    background-color: #747373;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 10px;
    height: 22px;
    margin: 0;
    padding: 10px 0 0 25px;
}

.centerContainer .albumContainer {
    background-color: #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
    min-height: 516px;
    padding-top: 30px;
    width: inherit;
}

    .centerContainer .albumContainer ul {
        margin: 0;
        padding-left: 30px;
    }

    .centerContainer .albumContainer li {
        float: left;
        height: 134px;
        margin-bottom: 15px;
        margin-right: 15px;
        width: 134px;
    }

.itemListingContainer {
    background-color: #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
    min-height: 300px;
    overflow: auto;
    padding: 30px 15px 0 20px;
    width: 911px;
}

    .itemListingContainer ul {
        margin: 0;
        padding: 0;
    }

    .itemListingContainer li {
        float: left;
        height: 134px;
        margin-bottom: 15px;
        margin-right: 15px;
        width: 134px;
    }

.list {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 16px;
    position: relative;
}

    .list ul {
        list-style-type: circle;
    }

    .list li {
        color: #4D4D4D;
        margin-bottom: 10px;
        border-top: 1px solid #dddddd;
    }

        .list li:last-child {
            border-bottom: 1px solid #dddddd;
        }

    .list a {
        color: #4D4D4D;
        cursor: pointer;
    }

        .list a:hover {
            text-decoration: underline;
        }

#loginLoader {
    background-image: url(../../Assets/Images/Others/ajax-loader.gif);
    position: absolute;
    width: 16px;
    height: 11px;
    right: 10px;
    top: 70px;
    display: none;
}

#sortable, #sortable2, #sort {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
    padding-bottom: 30px;
}

#sortable2 {
    padding: 0px;
}

#sortable li {
    cursor: move;
    padding: 10px;
    position: relative;
}

    #sortable li ul {
        margin-top: 5px;
    }

        #sortable li ul li {
            padding: 0px;
            /*background-color: #009FE3;*/
            margin: 0px;
            opacity: 0.6;
            filter: alpha(opacity=60);
            cursor: default;
        }

            #sortable li ul li:hover {
                opacity: 1;
                filter: alpha(opacity=100);
            }

#sortable2 li {
    cursor: move;
}

.smallLoader {
    background-image: url(../images/ajax-loader.gif);
    position: absolute;
    right: -23px;
    width: 16px;
    height: 11px;
    top: 15px;
    display: none;
}

.mainLogo {
    /*background-image:url(../images/moreLogo.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d37137;
    cursor: pointer;
    height: 45px;
    margin-left: -20px;
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    width: 21%;
}

.editor-label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.editor-field input[type="text"] {
    background-color: #f2f2f2;
    border: 0 none;
    color: #666666;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    width: 100%;
}

.editor-field {
    width: 100%;
    height: auto;
}

.editor-label label {
    color: #808080;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    margin-right: 40px;
    text-align: right;
    width: 210px;
    text-transform: uppercase;
}

fieldset {
    border: 0 none;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.buttonSave {
    position: absolute;
    right: 0px !important;
    top: 16px;
    z-index: 1;
    text-transform: uppercase;
}

.imageWrapper {
    position: relative;
}

    .imageWrapper .deleteImage, .deletePhotoGalleryImage {
        background-image: url(../../Assets/Images/Others/closeButton.png);
        background-repeat: no-repeat;
        cursor: pointer;
        left: 329px;
        width: 22px;
        height: 21px;
        position: absolute;
        top: 6px;
    }

.deletePhotoGalleryImage {
    left: auto;
    right: 6px;
}

.multipleUploaderContainer {
    position: relative;
    margin-top: 10px;
    padding: 0;
}

.multipleUploaderImage {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 225px;
    height: 200px;
    cursor: move;
    padding: 0 !important;
}

    .multipleUploaderImage .smallLoader {
        right: 82px;
        top: 87px;
    }

.addNewVideo {
    height: auto;
    position: absolute;
    right: -27px;
    top: -1px;
    width: 90px;
    cursor: pointer;
}

.deleteNewVideo {
    height: auto;
    position: absolute;
    right: -27px;
    top: -1px;
    width: 90px;
    cursor: pointer;
}

.o2k7SkinSilver .mceExternalToolbar, .o2k7SkinSilver .mceListBox .mceText, .o2k7SkinSilver div.mceMenu, .o2k7SkinSilver table.mceLayout, .o2k7SkinSilver .mceMenuItemTitle a, .o2k7SkinSilver table.mceLayout tr.mceFirst td, .o2k7SkinSilver table.mceLayout, .o2k7SkinSilver .mceMenuItemTitle a, .o2k7SkinSilver table.mceLayout tr.mceLast td, .o2k7SkinSilver .mceIframeContainer {
    width: 100% !important;
}

.rightContainer{
    width:79%;
    float:right;
}

.InValid{
    color:red !important;
}

.ui-datepicker .ui-datepicker-title{
    color:black !important
}

#sort li {
    cursor: default;
    padding: 10px;
    position: relative;
}

.list li {
    color: #4D4D4D;
    margin-bottom: 10px;
    border-top: 1px solid #dddddd;
}

#sort {
    list-style-type: none;
}

    #sort li {
        cursor: default;
        padding: 10px;
        position: relative;
    }

.dexpandCheckout {
    height: 17px;
    overflow: hidden;
    font-size: 12px;
    padding-left: 20px;
}

.BigCheckout {
    height: auto !important;
}


/*Modal Popup Css*/

.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .5;
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}

.btn-link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

/* END */