
@{
    ViewBag.Title = "GiftCardRequest";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="topContainer">
    <div class="toolbar">
        <div class="buttons"></div>
    </div>
</div>

<div class="list" id="ecardListDiv"></div>

<script src="~/Scripts/Admin/EGiftCard_Admin.js"></script>