@model List<Zoughaibandco.ViewModel.Contact_VM>
@{
    ViewBag.Title = "HelpMessage";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="topContainer">
    <div class="toolbar">
        <div class="buttons">
        </div>
    </div>
</div>

<div id="helpMsgDiv"></div>

<script src="~/Scripts/Admin/HelpMessage_Admin.js"></script>