<div class="contactUsSVG left center_left"></div>

<div class="contactUsSlide1 width-100">
    <div class="safearea">
        <div class="contactUsSlide1Right cm1 transition2" style="background-image: url('../../Assets/Images/ContactPage/slide1-1.jpg')"></div>
        <div class="contactUsSlide1Left left transition2 delay1">
            <div class="contactUsSlide1Leftcenter center_both left">
                <h4 class="width-100 CormorantSemiBold">Customer Care</h4>
                <address class="width-100 ProximaNovaA-Regular">
                    Tel: <a href="tel:+96171898981">+961 71 89 89 81</a><br />
                    E-mail: <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a><br /><br />
                </address>
                <h4 class="width-100 CormorantSemiBold">Main Office</h4>
                <address class="width-100 ProximaNovaA-Regular">
                    Main Highway Zouk Mikael<br />
                    Zoughaib & Co. Building<br />
                    Zouk Mikael, Keserwan - Lebanon<br />
                    Tel: <a href="tel:+9619223411">+961 9 223 411</a><br />
                    Fax: +961 9 218 666<br />
                    E-mail: <a href="mailto:info@zoughaibandco.com">info@zoughaibandco.com</a>
                </address>
            </div>
        </div>

    </div>
</div>

<div class="contactUsSlide2 width-100 anim_opacity0 transition2">
    <div class="safearea">
        <div class="contactUsSlide2Left left cm2 " style="background-image: url('../../Assets/Images/ContactPage/slide2-1.jpg')">
        </div>
        <div class="contactUsSlide2Right center_top">
            <h4 class="width-100 CormorantMedium">Press Contact</h4>
            <address class="width-100 ProximaNovaA-Light">
               Tel: <a href="tel:+9619223411">+961 9 223 411</a><br />
                    Fax: +961 9 218 666<br />
                <a href="mailto:press@zoughaibandco.com">press@zoughaibandco.com</a>
            </address>
        </div>
    </div>
</div>

<div class="contactUsSlide3 width-100 anim_opacity0 transition2">
    <div class="safearea">
        <div class="contactUsSlide2Left right cm3" style="background-image: url('../../Assets/Images/ContactPage/slide3-1.jpg')">
        </div>
        <div class="contactUsSlide2Right center_top">
            <h4 class="width-100 CormorantMedium">Sales</h4>
            <address class="width-100 ProximaNovaA-Light">
                Tel: <a href="tel:+9619223411">+961 9 223 411</a><br />
                Fax: +961 9 218 666<br />
                <a href="mailto:sales@zoughaibandco.com">sales@zoughaibandco.com</a>
            </address>
        </div>
    </div>
</div>

<div class="homepage_centered_section">
    <div class="safearea">
        <div class="hbox11" style="margin-bottom: 24px;">
            <div class="hbox11_holder center_both">
                <div class="hbox11_quote_blurred">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="hbox11_quote">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="doumit_signature"></div>
            </div><!--hbox11_holder-->
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")