<div class="RestOfPagesWrapper width-100">
    <div class="createAccountSafe left center_left">
        <h2 class="width-100 center upper CormorantRegular">Cookies Policy</h2>
        <h3 class="width-100 center upper ProximaNovaA-Light">EVERYTHING YOU NEED TO KNOW ABOUT OUR COOKIES POLICY</h3>

        <div class="faqWrapper width-100">

            <article class="width-100 ProximaNovaA-Regular shippingPolicyArticle">
                We at Zoughaib & co., along with our subsidiaries and affiliates, respect your concerns about privacy. This Global Privacy Notice describes the types of personal information we collect about our consumers, how we use the information, with whom we share it and the choices available to our consumers regarding our use of the  information. We also describe the measures we take to protect the security of the information and how you can contact us about our privacy practices.<br /><br />
                <span class="titlePolicy ProximaNovaA-Semibold">INFORMATION WE COLLECT</span><br /><br />
                We may collect personal information about you in various ways, such as when you provide it at our stores, on our websites, through our apps and social media channels, at our events, through surveys, via text messages or on the telephone. The types of personal information we may collect include:<br /><br />
                - Contact information (such as name, postal address, email address, and mobile or other telephone number);<br /><br />
                - username and password;<br /><br />
                - payment information (such as your payment card number, expiration date, authorization number or security code, delivery address, and billing address);<br /><br />
                - purchase and transaction information;<br /><br />
                - information regarding your personal or professional interests, date of birth, marital status, demographics, and experiences with our products and contact preferences;<br /><br />
                - contact information you provide about friends or other people you would like us to contact;<br /><br />
                - information we may obtain from our third-party service providers.<br /><br />
                <span class="titlePolicy ProximaNovaA-Semibold">HOW WE USE THE INFORMATION WE COLLECT</span><br /><br />
                We may use the information described above to:<br /><br />
                - Provide products and services to you;<br /><br />
                - process your payments;<br /><br />
                - communicate with you about, and administer your participation in, special events, contests, sweepstakes, programs, offers, surveys and market research;
            </article>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")