<div class="RestOfPagesWrapper width-100">
    <div class="createAccountSafe left center_left">
        <h2 class="width-100 center upper CormorantRegular">FAQs</h2>
        <h3 class="width-100 center upper ProximaNovaA-Light">ALL THE ANSWERS TO YOUR QUESTIONS</h3>
        <div class="faqWrapper width-100">
            <div class="faqLeft left">
                <h4 class="left upper CormorantSemiBold">General</h4>
                <h4 class="left upper CormorantSemiBold">delivery</h4>
            </div>
            <div class="faqRight right">
                <div class="allFAQWrapper width-100">
                    <div class="FAQcategory width-100">
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">How can I contact Customer Care?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                You can contact our customer care service anytime through WhatsApp on <a href="tel:+96171898981">+961 71 89 89 81</a> or via email at <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">I'm having troubles with my order and/or account, how can I contact Support? </h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                You can contact our customer care service anytime through WhatsApp on <a href="tel:+96171898981">+961 71 89 89 81</a> or via email at <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Do you offer refund on purchases made online?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Unfortunately, we do not offer refund on purchases, however, you can exchange your purchased product(s) in case you are not satisfied with the item, or in case there is any defect on the item within a period of 30 days from the date of purchase. Exchange is only applicable if the products has not been used or worn and, on the condition, that the item(s) is still maintained in its original packaging.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Can I exchange my purchased product(s)?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Yes! Our Exchange Policy is valid 30 days from the date of purchase, and you can exchange a product(s) purchased for any reason. Exchange Policy is only applicable on product(s) that have not been used or worn, and on the condition that the item(s) is still maintained in its original packaging. If you wish to Exchange your product, kindly contact our customer care service anytime through WhatsApp on <a href="tel:+96171898981">+961 71 89 89 81</a> or via email at <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Can I pay cash on delivery?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                The Cash on delivery service is only applicable within Lebanon. For all online purchases made outside Lebanon, transactions are made online on our secure payment getaway using credit or debit card.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Can I place a special order?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Yes! You can place a special order our customer care service anytime through WhatsApp on on <a href="tel:+96171898981">+961 71 89 89 81</a> or via email at <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">I want to get in touch with the company, how can I contact you?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                We would love to hear from you, drop us an e-mail at <a href="mailto:hello@zoughaibandco.com">hello@zoughaibandco.com</a> and we will make sure to reply promptly.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Do you provide certificates of guarantee?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Every purchase comes with a certificate of guarantee from Zoughaib & Co that details the product (gold weight, carat weight, stones featured etc.). We are committed to excellence and integrity.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Do you provide GIA, HRD or other diamond certificate with the purchase of solitaires, studs or wedding rings?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Yes, we provide international diamond certificates in addition to our company's certificate of guarantee on special items that contain a of diamond carat weight. To request an international certificate or to know if your product comes with an international diamond certificate, kindly contact us our customer care service anytime through WhatsApp on <a href="tel:+96171898981">+961 71 89 89 81</a> or via email at <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">I've forgotten my password, how can I reset my account?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                If you've forgotten your password please click <a href="javascript:login();javascript:

                                                                                  ()">here</a> to reset your password. If you are still having troubles accessing your account, please contact <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">How does the e-gift card work?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                It's quite simple! All you need to do is purchase an e-gift card coupon here. You choose the amount starting $50. The recipient will then receive the e-gift card coupon by e-mail notifying him/her of your beautiful gesture. He/She can then sign-up on our website and use the coupon code to purchase an item, or use the amount gifted to compliment on his/her purchase (ex: e-gift car of $100, recipient chose a products of $300 on the website, recipient will pay a total of $200 using the e-gift card coupon code send to him/her by email). Gift cards are valid for 1 year. For more info, kindly contact <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a> or customer care service on <a href="tel:+96171898981">+961 71 89 89 81</a>
                            </article>
                        </div>
                    </div>
                    <div class="FAQcategory width-100">
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">Where do you ship?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                We ship worldwide using DHL Express, and in Lebanon using Aramex.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">How long does it take to receive my package/product(s)? </h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Your package/product(s) will be delivered to your door within 3 to 12 days from the date of purchase.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">How will I know when my order is ready?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                Once your order is ready, you will be contacted by the carrier either by phone, SMS or e-mail through the information you have provided in your account. The carrier will then arrange with you a time to drop-off your packaging. The process is the same for local & international orders.
                            </article>
                        </div>
                        <div class="faqRightDiv width-100">
                            <span class="faqArrow"></span>
                            <h5 class="width-100 upper ProximaNovaA-Regular">My order is facing delays, what do I do?</h5>
                            <article class="width-100 ProximaNovaA-Regular">
                                If your order hasn't been delivered after 12 days from the date of purchase, kindly contact our customer care service anytime through WhatsApp on <a href="tel:+96171898981">+961 71 89 89 81</a> or via email at <a href="mailto:support@zoughaibandco.com">support@zoughaibandco.com</a>. If your order has not been delivered to you after a period of 30 days from the date of purchase, you will be entitled to a full refund on your card.
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")