<div class="highEndJewBanner" style="background-image:url('../../Assets/Images/HighEndJewelleryPage/highEndJewleryBanner.png')"></div>

<div class="collectionsSlide2 width-100">
    <div class="safearea">

        <div class="highEndJAbout CormorantRegular center_left">
            <h1>THE EMERALD COLLECTION</h1>
            <span class="center_left"></span>
            <article class="CormorantRegular center-justified">The Emerald Collection is inspired by the purest of greens and a mystical stone: the Colombian emerald. This exquisite collection of high craftsmanship was presented in Basel, Switzerland, as well as Doha, Qatar, and Kuwait City, Kuwait. The stunning long lariat necklace with flawless white diamonds, and imposing emeralds and diamond tassels is a creation of our founder Doumit Zoughaib. The Emerald Collection is destined for connoisseurs, and lovers of scarce stones and Haute Jewelry.</article>
        </div><!--highEndJAbout-->

        <img class="lookbook_w100_image" src="~/Assets/Images/HighEndJewelleryPage/HighEndJew1.png" />
        <img class="lookbook_w100_image HighEndJew2" src="~/Assets/Images/HighEndJewelleryPage/HighEndJew2.png" />
        <img class="lookbook_w100_image HighEndJew3" src="~/Assets/Images/HighEndJewelleryPage/HighEndJew3.png" />

    </div><!--safearea-->
</div><!--collectionsSlide2-->

<div class="collectionsSlide2 width-100">
    <div class="safearea">
        <div class="highEndJewLeft">
            <img class="lookbook_w100_image HighEndJew4" src="~/Assets/Images/HighEndJewelleryPage/HighEndJew4.png" />
        </div><!--highEndJewLeft-->

        <div class="highEndJewRight">
            <div class="highEndJAbout1 CormorantRegular center_both">
                <h1>EXQUISITE CRAFTMANSHIP</h1>
                <article class="CormorantRegular center-justified">The Exquisite Craftmanship Collection is inspired by the purest of greens and a mystical stone: the Colombian emerald. This exquisite collection of high craftsmanship was presented in Basel, Switzerland, as well as Doha, Qatar, and Kuwait City, Kuwait. The stunning long lariat necklace with flawless white diamonds, and imposing emeralds and diamond tassels is a creation of our founder Doumit Zoughaib. The Exquisite Craftmanship Collection is destined for connoisseurs, and lovers of scarce stones and Haute Jewelry.</article>
            </div><!--highEndJAbout-->
        </div><!--highEndJewRight-->
    </div><!--safearea-->
</div><!--collectionsSlide2-->

<div class="collectionsSlide2 width-100">
    <div class="safearea">
        <div class="highEndJewLeft">
            <img class="lookbook_w100_image HighEndJew5" src="~/Assets/Images/HighEndJewelleryPage/HighEndJew5.png" />
        </div><!--highEndJewLeft-->

        <div class="highEndJewRight">
            <img class="lookbook_w100_image" src="~/Assets/Images/HighEndJewelleryPage/HighEndJew6.png" />
            <div class="highEndRingTitle">
                <div class="highEndRingTitle_holder center_both">
                    <h2 class="CormorantRegular">THE EMERALD AND<br />DIAMOND RING</h2>
                    <label class="ProximaNovaA-Regular">4.22CT WHITE GOLD</label>
                </div><!--highEndRingTitle_holder-->
            </div><!--highEndRingTitle-->
        </div><!--highEndJewRight-->

        <div class="highEndJewBookingSection">
            <div class="highEndJewBookingSection_holder center_both">
                <h3 class="CormorantRegular upper">book a private viewing with your nearest store and let our experts guide you in discovering <br />our finest jewellery.</h3>
                <a href="@Url.Action("Contact","Home")" class="highEndBook_button center_left">
                    <div class="hi_end_fill_orange transition"></div>
                    <span class="ProximaNovaA-Regular">BOOK VIEWING</span>
                </a>
            </div><!--highEndJewBookingSection_holder-->
        </div><!--highEndJewBookingSection-->


    </div><!--safearea-->
</div><!--collectionsSlide2-->



<div class="homepage_centered_section">
    <div class="safearea">

        <div class="hbox11" style="margin-bottom: 24px;">
            <div class="hbox11_holder center_both">
                <div class="hbox11_quote_blurred">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="hbox11_quote">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="doumit_signature"></div>
            </div><!--hbox11_holder-->
        </div>


    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")