<div class="ourstory_banner" style="background-image: url('../../Assets/Images/OurStoryPage/storyBann.jpg')">
    <div class="ourStorySVG right center_top"></div>
</div><!--homepage_banner-->

<article class="storyIntro left center_left ProximaNovaA-Regular anim_opacity0 transition2 center-justified">
    Zoughaib & Co’s brilliant jewels have continued to shine at the most highly anticipated events of the year. The House honors its treasured legacy through a series of enchanting jewels designed to perfection. Zoughaib & Co’s brilliant jewels have continued to shine at the most highly anticipated events of the year. The House honors its treasured legacy through a series of enchanting jewels designed to perfection.
</article>

<div class="ourStoryWrapper width-100">
    <div class="safearea">

        <div class="oustorySlide1 width-100 osm1  anim_opacity0 transition2" style="background-image: url('../../Assets/Images/OurStoryPage/slide1-1.jpg')"></div>

        <div class="ourStorySlide2 width-100 osm2 ">
            <div class="ourStorySlide2Center left center_left">
                <div class="ourStorySlide2Content left center_left anim_opacity0 transition2">
                    <div class="thedesignerSVG"></div>
                    <img class="about_imagem1" alt="" src="../../Assets/Images/OurStoryPage/about_imagem1.png" />
                    <h1 class="left upper ProximaNovaA-Regular">doumit zoughaib</h1>
                    <article class="right ProximaNovaA-Regular center-justified">
                        Zoughaib & Co’s brilliant jewels have continued to shine at the most highly  anticipated events of the year. The House honors its treasured legacy through a series of enchanting jewels designed to perfection.
                    </article>
                    <a href="@Url.Action("OurStory","Home")" class="right CormorantItalic">read more</a>
                </div>
            </div><!--ourStorySlide2Center-->
            <div class="ourStorySlide2IMG center_top anim_opacity0 transition2" style="background-image: url('../../Assets/Images/OurStoryPage/slide2-1.jpg')"></div>

        </div>

        <div class="ourStorySlide3 width-100">
            <div class="ourStorySlide3Left left anim_opacity0 transition2"><div class="AboutDZ center_top"></div></div>
            <div class="ourStorySlide3Right right anim_opacity0 transition2">
                <div class="ourStorySlide3RightIMG right osm3" style="background-image: url('../../Assets/Images/OurStoryPage/slide3-2.jpg')">
                </div>
                <article class="right ProximaNovaA-Regular center-justified">
                    His mastery in precious stones and being a skilled drawer with great sense of volume and composition, he created iconic pieces with strong identity. That marked an important step for Zoughaib & Co.
                </article>
                <a href="@Url.Action("OurStory","Home")" class="right CormorantItalic">read more</a>
            </div>
        </div>

        <div class="ourStorySlide4 width-100 anim_opacity0 transition2">
            <div class="ourStorySlide4IMG right osm4" style="background-image: url('../../Assets/Images/OurStoryPage/slide4-1.jpg')">
                <div class="perfectingSVG left center_top"></div>
            </div>
        </div>

        <div class="ourStorySlide5 width-100 anim_opacity0 transition2">
            <div class="ourStorySlide5Left left osm5  transition3" style="background-image: url('../../Assets/Images/OurStoryPage/slide5-1.jpg')">
            </div>
            <div class="ourStorySlide5Right right osm6  transition3 delay1" style="background-image: url('../../Assets/Images/OurStoryPage/slide5-2.jpg')">
            </div>
        </div>

    </div>
</div>



<div class="homepage_centered_section">
    <div class="safearea">


        <div class="hbox11" style="margin-bottom: 24px;">
            <div class="hbox11_holder center_both">
                <div class="hbox11_quote_blurred">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="hbox11_quote">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="doumit_signature"></div>
            </div><!--hbox11_holder-->
        </div>


    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")