@model List<Zoughaibandco.ViewModel.Jewellery_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homepage_centered_section">
    <div class="safearea">

        <div class="breadCrumb right">
            <span class="breadCrumbTitle ProximaNovaA-Regular">HOME / JEWELLERY</span>
        </div>

        @if (Model.Count > 0)
        {
            <div class="width-100">
                @foreach (var data in Model)
                {
                    <div class="hbox6 jewlb100 categoryItem">
                        <div class="fragrance_collection" style="background-image:url('../../Uploads/@data.ImagePath');background-size: cover">
                            <div class="hbox5_holder">
                                <div class="h_leather_collection ProximaNovaA-Regular">@data.CategoryName.ToUpper() @data.Type.ToUpper()</div>
                                <div class="h_leather_collection_line"></div>
                                <a href="#" class="hbox5_discover_button">discover</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="hbox11" style="margin-bottom: 24px;">
            <div class="hbox11_holder center_both">
                <div class="hbox11_quote_blurred">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="hbox11_quote">“ Zoughaib &amp; Co’s master pieces are deﬁned by brilliant design and unparalleled craftsmanship ”</div>
                <div class="doumit_signature"></div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Custom")